body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
}

/* PRINT STYLES */
@page {
  size: A4 portrait;
  margin: 15mm;
}

@media print {
  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  .payslip-print,
  .payslip-print * {
    visibility: visible;
  }

  .payslip-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .no-print {
    display: none !important;
  }
}
